header{
    background-image: url("índice.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-position: center;
}
header>ul{
    position: absolute;
    left: 800px;
    top: 100px;
}
header>ul>li{
    display: inline-flex;
    list-style: none;
    font-size: 30px;
    color: rgb(255, 9, 9);
    margin: 10px;
}
main{
    background-color: rgb(84, 84, 194);
}
aside{
    float: left;
    background-color: brown;
    width: 400px;
    height: 950px;
}
aside>ul{
    position: absolute;
    left: 100px;
    top: 650px;
}
aside>ul>li{
    color: white;
    list-style:none;
    font-size: 40px;
    margin-top: 20px;
}
footer{
    background-color: black;
    position: absolute;
    width: 1340px;;
}
footer>h1{
    color: white;
    text-align: center;
}